.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltip-content {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltip-content {
    visibility: visible;
  }